<!DOCTYPE html>
<html>
{{- template "head" . -}}
<body>
{{- template "menu" -}}
<main>
  <article>
    <h2 id="hi">Hi,</h2>
<p>As you may have guessed from the contents of this site, I am a Dutch software developer who also likes literature and music and a bunch of other things.</p>
<p>I am old enough to remember what the internet was like before platforms like Facebook, Twitter, Github, etc. came around. Everything was decentralized, everybody had their own website and it actually felt more personal and real than the &ldquo;social&rdquo; media of today.</p>
<p>Since I like to create things, I thought I&rsquo;d make myself an old school personal website again. For my own pleasure. And for others like me. I know you are out there!</p>
<h2 id="rss-feeds">RSS Feeds</h2>
<p>To stay updated, there is an RSS link: <a href="/index.xml"><img src="rss.png" alt="RSS Icon">Recent</a></p>
<h2 id="contact">Contact</h2>
<p>I'm <a href="https://fosstodon.org/@ewintr">@ewintr@fosstodon.org</a> on Mastodon.</p>
<p>Otherwise, you can contact me by sending me an <a href="mailto:info@erikwinter.nl">email</a>.</p>
  </article>
</main>
</body>
