<!DOCTYPE html>
<html>
{{- template "head" . -}}
<body>
{{- template "menu" -}}
<main>
  <article>
    <section class="greybox-light">
  <p><a href="https://crunchygranola.nl"><img src="crunchy.jpeg" alt="Crunchy Granola logo"></a></p>
<p>A <a href="https://crunchygranola.nl/">site</a> 🇳🇱 full of recipes for crunchy, tasty granolas that are nothing like the mundane stuff you buy at the store. Everything made from scratch, healthy ingredients, with options for all kinds of diets like gluten-free and keto. All recipes, photos, texts and design created by my wonderful girlfriend. I <em>-eh-</em> also did things.</p>
</section>
<section class="greybox-dark">
  <p><img src="volca.png" alt="Volca Keys"></p>
<p>Some sounds I made. Some time ago.</p>
  <audio controls>
  <source src="christel%2039.mp3" type="audio/mp3">
</audio>
  <audio controls>
  <source src="werkeloos.mp3" type="audio/mp3">
</audio>
  <audio controls>
  <source src="volca%20testje.mp3" type="audio/mp3">
</audio>
</section>
<section class="greybox-light">
  <p><a href="https://lowlands.nl/schrijfwedstrijd"><img src="lowlandswedstrijd.jpg" alt="Story illustration"></a></p>
<p>In 2015, one of my stories won the Lowlands Short Story contest. Because of that, it was featured in NRC, a Dutch national newspaper. You can read it <a href="https://www.nrc.nl/nieuws/2015/08/24/het-korte-nare-leven-van-arnold-scheepmaker-1526148-a1387897">here</a> 🇳🇱 on their site.</p>
</section>
<section class="greybox-dark">
  <p><a href="https://web.archive.org/web/20121105034629/http://www.beginnenmetroken.nl/"><img src="beginnenmetroken.jpg" alt="Logo Beginnenmetroken.nl"></a></p>
<p>A long time ago, somewhere at the start of this century, I created <a href="http://www.BeginnenMetRoken.nl">www.BeginnenMetRoken.nl</a>, a satirical site that &ldquo;helped&rdquo; people to kickstart their smoking habit. Right in the middle of large campaings urging people to quit, it struck a nerve and went viral. Millions of pageviews, featured in several magazines. People still bring it up, twenty years later.</p>
<p>The site is gone, but it you can still view it <a href="https://web.archive.org/web/20121105034629/http://www.beginnenmetroken.nl/">here 🇳🇱</a> on Archive.org.</p>
</section>
  </article>
      </main>
    </body>
</html>
