<!DOCTYPE html>
<html>
{{- template "head" . -}}
<body>
{{- template "menu" -}}
  <main>
    <nav class="tagList">
    <h2>Tags</h2>
    <ul>
    {{- range .Tags -}}
      <li><a href="{{ .Link }}">#{{ .Name }}</a></li>
    {{- end -}}
    </ul>
    </nav>
    <nav>
    <h2>Articles</h2>
    <ul>
    {{- range .ArticleYears -}}
      <li><a href="{{ .Link }}">{{ .Name }}</a></li>
    {{- end -}}
    </ul>
    </nav>
    <nav>
    <h2>Development Notes</h2>
    <ul>
    {{- range .NoteYears -}}
      <li><a href="{{ .Link }}">{{ .Name }}</a></li>
    {{- end -}}
    </ul>
    </nav>
    <nav>
    <h2>Short Stories &#127475;&#127473;</h2>
    <ul>
    {{- range .StoryYears -}}
      <li><a href="{{ .Link }}">{{ .Name}}</a></li>
    {{- end -}}
    </ul>
  </main>
</body>
